.clearButton {
  background-color: transparent;
  border: transparent;
  margin-top: 1em;
  padding: 0.5em 2em 0 2em;
  cursor: pointer;
  color: rgb(255, 122, 122);
  letter-spacing: 0.2em;
  font-size: 0.9em;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 0.1em;
  padding: 0.4em;
  transition: background-color 500ms, color 500ms;
}

.listItem:hover {
  background-color: #f1f5f8;
  border-radius: 0.25em;
  color: #617da4;
}

.container {
  padding: 2em 0 0 0;
  width: 100%;
}
